{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://public.je-apis.com/"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "justeat_tech"
        },
        "title": "Just Eat Tenant API",
        "version": "2.0.0.0",
        "x-apisguru-categories": [
            "ecommerce"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_justeat_tech_profile_image.jpeg"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.11"
                },
                "format": "swagger",
                "url": "https://public.je-apis.com/api-docs/",
                "version": "1.2"
            }
        ],
        "x-preferred": true,
        "x-providerName": "je-apis.com"
    },
    "tags": [
        {
            "description": "Operations about application",
            "name": "application"
        },
        {
            "description": "Operations about baskets",
            "name": "baskets"
        },
        {
            "description": "Operations about consumer",
            "name": "consumer"
        },
        {
            "description": "Operations about consumerhelp",
            "name": "consumerhelp"
        },
        {
            "description": "Operations about countries",
            "name": "countries"
        },
        {
            "description": "Operations about experiments",
            "name": "experiments"
        },
        {
            "description": "Operations about health",
            "name": "health"
        },
        {
            "description": "Operations about internal",
            "name": "internal"
        },
        {
            "description": "Operations about logins",
            "name": "logins"
        },
        {
            "description": "Operations about menus",
            "name": "menus"
        },
        {
            "description": "Operations about orders",
            "name": "orders"
        },
        {
            "description": "Operations about ratings",
            "name": "ratings"
        },
        {
            "description": "Operations about reset-password-tokens",
            "name": "reset-password-tokens"
        },
        {
            "description": "Operations about restaurants",
            "name": "restaurants"
        },
        {
            "description": "Operations about terms",
            "name": "terms"
        },
        {
            "description": "Operations about zipcodeautocomplete",
            "name": "zipcodeautocomplete"
        }
    ],
    "paths": {
        "/application/onlinestatus": {
            "get": {
                "description": "Uri template /application/onlinestatus",
                "operationId": "GetOnlineStatus",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "Value": {
                                            "description": "Int32",
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets the status",
                "tags": [
                    "application"
                ]
            }
        },
        "/application/{applicationId}/versionstatus/{versionId}": {
            "get": {
                "description": "Uri template /application/{applicationId}/versionstatus/{versionId}",
                "operationId": "GetVersionAndStatus",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "versionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "ForcedVersion": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "OnlineStatus": {
                                            "description": "Int32",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "PasswordValidation": {
                                            "description": "PasswordValidation",
                                            "properties": {
                                                "Enabled": {
                                                    "description": "Boolean",
                                                    "type": "boolean"
                                                },
                                                "ErrorText": {
                                                    "description": "String",
                                                    "type": "string"
                                                },
                                                "InfoText": {
                                                    "description": "String",
                                                    "type": "string"
                                                },
                                                "Regex": {
                                                    "description": "String",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Enabled",
                                                "ErrorText",
                                                "InfoText",
                                                "Regex"
                                            ],
                                            "type": "object"
                                        },
                                        "RecommendedVersion": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "UseResponsiveWeb": {
                                            "description": "IEnumerable[System.Object]",
                                            "items": {},
                                            "type": "array"
                                        },
                                        "UseWebsiteCheckout": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets the application version and status",
                "tags": [
                    "application"
                ]
            }
        },
        "/application/{applicationId}/versionupdate/{versionId}": {
            "get": {
                "description": "Uri template /application/{applicationId}/versionupdate/{versionId}",
                "operationId": "GetApplicationVersion",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "versionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "ForcedVersion": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "RecommendedVersion": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "UseResponsiveWeb": {
                                            "description": "IEnumerable[System.Object]",
                                            "items": {},
                                            "type": "array"
                                        },
                                        "UseWebsiteCheckout": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Gets the application version [Obsolete (As verified by Android/Ios on 23-02-2016)]",
                "tags": [
                    "application"
                ]
            }
        },
        "/baskets": {
            "post": {
                "description": "Uri template /baskets",
                "operationId": "CreateBasket",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Creates a Basket",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "MenuId": {
                                        "description": "Int32",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "Postcode": {
                                        "description": "String",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "MenuId"
                                ],
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}": {
            "get": {
                "description": "Uri template /baskets/{basketId}",
                "operationId": "GetBasket",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Gets a Basket",
                "tags": [
                    "baskets"
                ]
            }
        },
        "/baskets/{basketId}/contactdetails/": {
            "put": {
                "description": "Uri template /baskets/{basketId}/contactdetails/",
                "operationId": "SetOrderContactDetails",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "IsOrderable": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        },
                                        "UserPrompts": {
                                            "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.Basket.UserPrompt]",
                                            "items": {
                                                "properties": {
                                                    "DefaultMessage": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "MessageValues": {
                                                        "description": "IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]",
                                                        "items": {
                                                            "properties": {
                                                                "DisplayValue": {
                                                                    "description": "String",
                                                                    "type": "string"
                                                                },
                                                                "KeyName": {
                                                                    "description": "String",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "StatusCode": {
                                                        "description": "String",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Set order contact details",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "Address": {
                                        "description": "OrderContactAddress",
                                        "properties": {
                                            "City": {
                                                "description": "String",
                                                "type": "string"
                                            },
                                            "Line1": {
                                                "description": "String",
                                                "type": "string"
                                            },
                                            "Line2": {
                                                "description": "String",
                                                "type": "string"
                                            },
                                            "Line3": {
                                                "description": "String",
                                                "type": "string"
                                            },
                                            "PostCode": {
                                                "description": "String",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Email": {
                                        "description": "String",
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "String",
                                        "type": "string"
                                    },
                                    "PhoneNumber": {
                                        "description": "String",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/fulfilmenttime": {
            "put": {
                "description": "Uri template /baskets/{basketId}/fulfilmenttime?time={time}&asap={asap}",
                "operationId": "SetRequestedFulfilmentTime",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "time",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "asap",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "IsOrderable": {
                                                "description": "Boolean",
                                                "type": "boolean"
                                            },
                                            "UserPrompts": {
                                                "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.Basket.UserPrompt]",
                                                "items": {
                                                    "properties": {
                                                        "DefaultMessage": {
                                                            "description": "String",
                                                            "type": "string"
                                                        },
                                                        "MessageValues": {
                                                            "description": "IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]",
                                                            "items": {
                                                                "properties": {
                                                                    "DisplayValue": {
                                                                        "description": "String",
                                                                        "type": "string"
                                                                    },
                                                                    "KeyName": {
                                                                        "description": "String",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "StatusCode": {
                                                            "description": "String",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "properties": {
                                        "IsOrderable": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        },
                                        "UserPrompts": {
                                            "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.Basket.UserPrompt]",
                                            "items": {
                                                "properties": {
                                                    "DefaultMessage": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "MessageValues": {
                                                        "description": "IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]",
                                                        "items": {
                                                            "properties": {
                                                                "DisplayValue": {
                                                                    "description": "String",
                                                                    "type": "string"
                                                                },
                                                                "KeyName": {
                                                                    "description": "String",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "StatusCode": {
                                                        "description": "String",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Set preferred order fulfilment time. We're expecting the time to be one of the choices that you got back from the GET, unadjusted for timezone.",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/fulfilmenttimeslots/": {
            "get": {
                "description": "Uri template /baskets/{basketId}/fulfilmenttimeslots/",
                "operationId": "GetFulfilmentTimeslots",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DeliveryTimeInfo": {
                                            "description": "DeliveryTimeInfoType",
                                            "enum": [
                                                "NoIssues",
                                                "ExtendedDeliveryTime",
                                                "LongWorkingTime"
                                            ],
                                            "type": "string"
                                        },
                                        "FirstIsAsap": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        },
                                        "Times": {
                                            "description": "IEnumerable[System.DateTime]",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "WorkingTimeMins": {
                                            "description": "Int32",
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Get available fulfilment times for basket",
                "tags": [
                    "baskets"
                ]
            }
        },
        "/baskets/{basketId}/notes": {
            "put": {
                "description": "Uri template /baskets/{basketId}/notes",
                "operationId": "SetOrderNotes",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "IsOrderable": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        },
                                        "UserPrompts": {
                                            "description": "UserPrompt",
                                            "items": {
                                                "properties": {
                                                    "DefaultMessage": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "MessageValues": {
                                                        "description": "IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]",
                                                        "items": {
                                                            "properties": {
                                                                "DisplayValue": {
                                                                    "description": "String",
                                                                    "type": "string"
                                                                },
                                                                "KeyName": {
                                                                    "description": "String",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "StatusCode": {
                                                        "description": "String",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "properties": {
                                                "DefaultMessage": {
                                                    "description": "String",
                                                    "type": "string"
                                                },
                                                "MessageValues": {
                                                    "description": "IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]",
                                                    "items": {
                                                        "properties": {
                                                            "DisplayValue": {
                                                                "description": "String",
                                                                "type": "string"
                                                            },
                                                            "KeyName": {
                                                                "description": "String",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "StatusCode": {
                                                    "description": "String",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "***STUB*** Set order notes",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "Notes": {
                                        "description": "String",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/orderitems": {
            "post": {
                "description": "Uri template /baskets/{basketId}/orderitems",
                "operationId": "AddProductToBasket",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Add products into a given basket",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "MealParts": {
                                        "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateMealPart]",
                                        "items": {
                                            "properties": {
                                                "GroupId": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "Id": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "OptionalAccessories": {
                                                    "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateOptionalAccessory]",
                                                    "items": {
                                                        "properties": {
                                                            "Id": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "Quantity": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Id",
                                                            "Quantity"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "RequiredAccessories": {
                                                    "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateRequiredAccessory]",
                                                    "items": {
                                                        "properties": {
                                                            "GroupId": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "Id": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Id",
                                                            "GroupId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "GroupId"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "OptionalAccessories": {
                                        "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateOptionalAccessory]",
                                        "items": {
                                            "properties": {
                                                "Id": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "Quantity": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "Quantity"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "ProductId": {
                                        "description": "Int32",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "RequiredAccessories": {
                                        "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateRequiredAccessory]",
                                        "items": {
                                            "properties": {
                                                "GroupId": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "Id": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "GroupId"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "User": {
                                        "description": "User",
                                        "items": {
                                            "properties": {
                                                "DisplayName": {
                                                    "description": "String",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "DisplayName"
                                            ],
                                            "type": "object"
                                        },
                                        "properties": {
                                            "DisplayName": {
                                                "description": "String",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "DisplayName"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/orderitems/{orderItemId}": {
            "delete": {
                "description": "Uri template /baskets/{basketId}/orderitems/{orderItemId}",
                "operationId": "RemoveProductFromBasket",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "orderItemId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Remove products from a given basket",
                "tags": [
                    "baskets"
                ]
            }
        },
        "/baskets/{basketId}/orderitems/{orderItemId}/mealparts": {
            "post": {
                "description": "Uri template /baskets/{basketId}/orderitems/{orderItemId}/mealparts",
                "operationId": "UpdateProductsMealParts",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "orderItemId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Add meal parts into a given product inside a given basket",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "MealParts": {
                                        "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateMealPart]",
                                        "items": {
                                            "properties": {
                                                "GroupId": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "Id": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "OptionalAccessories": {
                                                    "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateOptionalAccessory]",
                                                    "items": {
                                                        "properties": {
                                                            "Id": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "Quantity": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Id",
                                                            "Quantity"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "RequiredAccessories": {
                                                    "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateRequiredAccessory]",
                                                    "items": {
                                                        "properties": {
                                                            "GroupId": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "Id": {
                                                                "description": "Int32",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Id",
                                                            "GroupId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "GroupId"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "MealParts"
                                ],
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/orderitems/{orderItemId}/optionalaccessories": {
            "post": {
                "description": "Uri template /baskets/{basketId}/orderitems/{orderItemId}/optionalaccessories",
                "operationId": "UpdateProductsOptionalAccessories",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "orderItemId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Add optional accessories into a given product inside a given basket",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "OptionalAccessories": {
                                        "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateOptionalAccessory]",
                                        "items": {
                                            "properties": {
                                                "Id": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "Quantity": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "Quantity"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "OptionalAccessories"
                                ],
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/orderitems/{orderItemId}/requiredaccessories": {
            "post": {
                "description": "Uri template /baskets/{basketId}/orderitems/{orderItemId}/requiredaccessories",
                "operationId": "UpdateProductsRequiredAccessories",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "orderItemId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Add required accessories into a given product inside a given basket",
                "tags": [
                    "baskets"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "maximum": 0,
                                "minimum": 0,
                                "properties": {
                                    "RequiredAccessories": {
                                        "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.DTOs.UpdateRequiredAccessory]",
                                        "items": {
                                            "properties": {
                                                "GroupId": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "Id": {
                                                    "description": "Int32",
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "Id",
                                                "GroupId"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "RequiredAccessories"
                                ],
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/baskets/{basketId}/paymentoptions": {
            "get": {
                "description": "Uri template /baskets/{basketId}/paymentoptions?applePay={applePay}&androidPay={androidPay}&googlePay={googlePay}&platform={platform}&voucherCode={voucherCode}",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "platform",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "applePay",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "minimum": 0,
                            "maximum": 0
                        }
                    },
                    {
                        "in": "query",
                        "name": "androidPay",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "minimum": 0,
                            "maximum": 0
                        }
                    },
                    {
                        "in": "query",
                        "name": "googlePay",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "minimum": 0,
                            "maximum": 0
                        }
                    },
                    {
                        "in": "query",
                        "name": "voucherCode",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Auth-Token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "BasketTotal": {
                                            "description": "Decimal",
                                            "items": {}
                                        },
                                        "FeeText": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "PaymentOptions": {
                                            "description": "IEnumerable[JustEat.PublicApi.Site.Handlers.Payments.PaymentOption]",
                                            "items": {
                                                "properties": {
                                                    "CardExpiry": {
                                                        "description": "DateTime",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Fee": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    },
                                                    "Id": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "MaskedCardNumber": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "PaymentOptionType": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "PaymentServiceProvider": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "PaymentType": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "Total": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "VoucherCode": {
                                            "description": "String",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "summary": "Get payment options for a basket",
                "tags": [
                    "baskets"
                ]
            }
        },
        "/baskets/{basketId}/serviceoptions": {
            "put": {
                "description": "Uri template /baskets/{basketId}/serviceoptions",
                "operationId": "UpdateBasketServiceOptions",
                "parameters": [
                    {
                        "description": "uk",
                        "in": "header",
                        "name": "Accept-Tenant",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "basketId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DeliveryCharge": {
                                            "description": "Decimal",
                                            "items": {}
                                        },
                                        "Discount": {
                                            "description": "Decimal",
                                            "items": {}
                                        },
                                        "Discounts": {
                                            "description": "IEnumerable[JE.Api.Basket.DTOs.OfferDetails]",
                                            "items": {
                                                "properties": {
                                                    "Discount": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    },
                                                    "DiscountType": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "Int32",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "QualifyingValue": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Id": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "MenuId": {
                                            "description": "Int32",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "MultiBuyDiscount": {
                                            "description": "Decimal",
                                            "items": {}
                                        },
                                        "MultiBuyDiscounts": {
                                            "description": "IEnumerable[JE.Api.Basket.DTOs.MultiBuyDiscount]",
                                            "items": {
                                                "properties": {
                                                    "Amount": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    },
                                                    "DiscountType": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "OrderItemId": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "ProductTypeId": {
                                                        "description": "Int32",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "OrderItems": {
                                            "description": "IEnumerable[JE.Api.Basket.DTOs.OrderItemView]",
                                            "items": {
                                                "properties": {
                                                    "CombinedPrice": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    },
                                                    "MealParts": {
                                                        "description": "IEnumerable[JE.Api.Basket.DTOs.MealPart]",
                                                        "items": {
                                                            "properties": {
                                                                "GroupId": {
                                                                    "description": "Int32",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "Id": {
                                                                    "description": "Int32",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "OptionalAccessories": {
                                                                    "description": "IEnumerable[JE.Api.Basket.DTOs.OptionalAccessory]",
                                                                    "items": {
                                                                        "properties": {
                                                                            "Id": {
                                                                                "description": "Int32",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "Quantity": {
                                                                                "description": "Int32",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "UnitPrice": {
                                                                                "description": "Decimal",
                                                                                "items": {}
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "RequiredAccessories": {
                                                                    "description": "IEnumerable[JE.Api.Basket.DTOs.RequiredAccessory]",
                                                                    "items": {
                                                                        "properties": {
                                                                            "GroupId": {
                                                                                "description": "Int32",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "Id": {
                                                                                "description": "Int32",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "UnitPrice": {
                                                                                "description": "Decimal",
                                                                                "items": {}
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Name": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "OptionalAccessories": {
                                                        "description": "IEnumerable[JE.Api.Basket.DTOs.OptionalAccessory]",
                                                        "items": {
                                                            "properties": {
                                                                "Id": {
                                                                    "description": "Int32",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "Quantity": {
                                                                    "description": "Int32",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "UnitPrice": {
                                                                    "description": "Decimal",
                                                                    "items": {}
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "OrderItemId": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "ProductId": {
                                                        "description": "Int32",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "ProductTypeId": {
                                                        "description": "Int32",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "RequiredAccessories": {
                                                        "description": "IEnumerable[JE.Api.Basket.DTOs.RequiredAccessory]",
                                                        "items": {
                                                            "properties": {
                                                                "GroupId": {
                                                                    "description": "Int32",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "Id": {
                                                                    "description": "Int32",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "UnitPrice": {
                                                                    "description": "Decimal",
                                                                    "items": {}
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Synonym": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "UnitPrice": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    },
                                                    "UserDisplayName": {
                                                        "description": "String",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Orderable": {
                                            "description": "Boolean",
                                            "type": "boolean"
                                        },
                                        "RestaurantId": {
                                            "description": "Int32",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "ServiceType": {
                                            "description": "String",
                                            "type": "string"
                                        },
                                        "SubTotal": {
                                            "description": "Decimal",
                                            "items": {}
                                        },
                                        "Taxes": {
                                            "description": "IEnumerable[JE.Api.Basket.DTOs.Tax]",
                                            "items": {
                                                "properties": {
                                                    "TaxName": {
                                                        "description": "String",
                                                        "type": "string"
                                                    },
                                                    "TaxRate": {
                                                        "description": "Decimal",
                                                        "items": {}
                                                    },
[...]
